.divContent{
  width: 45%;
}

  
.divButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  isolation: isolate;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 20px;
}

.accept{
  width: 5%;
  display: flex;
  justify-content: space-between;
}

.subTitle{
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #666666;
}

@media (max-width: 1080px) {
  .divContent{
    margin-top: 50px;
    width: 100%;
  }
}