.container{
  width: 90%;
  margin: auto;
}

.body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.title{
  width: 90%;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  color: #666666;
  text-align: start;
  padding-bottom: 75px;

}

.divContent{
  width: 45%;
  text-align: center;
}

.subTitle{
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  color: #666666;
}

.divButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  isolation: isolate;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 20px;
  border: 1px solid #128C7E;
}

.atualizaPerfil{  
  border: 1px solid #128C7E;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans';
  text-align: center;
  letter-spacing: 0.4px;
  /* color: #666666; */
  
  color:#128C7E;
  border-radius: 10px;
  margin-top: 20px;
}

.alterarFoto{
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.img {
  max-width: 400px;
  max-height: 200px;
}

.BannerPhoto{
  margin-top: -60px;
  height: 50vh;
  width: 104.4%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1608666599953-b951163495f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1466&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 60%;
}

.BannerText{
  color: white;
  margin-left: 50px;
  margin-top: 7%;
  font-size: 45px;
}

.BannerInput{
  background-color: white;
  width: 455px;
}

.BannerButton{
  height: 40px;
  color: #128C7E !important;
  background-color: white !important;
  margin-top: -6px !important;
  margin-left: -105px !important;
  border: 1px solid #128C7E !important;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
}

.dashboardService{
  width: 100%;
  margin: 25px;
  padding-left: 100px;
}

.dashboardTitleService{
  color: gray;
  font-size: 25px;
  text-align: left;
}

.dashboardCarrousel{
  text-align: center;
}

.arrowCarrousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrowCarrouselSms{
  padding-top: 5px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrowCarrouselDashboard{
  padding-bottom: 45px !important;
}

.containerSms{  
  width: 500px;
  height: 350px;
  margin-top: 0 !important;
}

.textSms{
  width: 80px;
  margin-right: 30px !important;
  border-color: white;
  text-align: justify !important;
}

.buttonText{
  width: 100%;
  border: 0.5px solid gray;
  color: gray;
  margin-top: 60px !important;
}
.textDiv{
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.gridSms{
  margin-top: 25px !important;
  text-align: center;
}

@media (max-width: 1080px) {
  .body {
    flex-direction: column;
    width: 100%;
  }
  .divContent{
    margin-top: 50px;
    width: 100%;
  }
}