.body{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.edicao{
    width: 30%;
    height: 100%;
}

.return{
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    cursor: pointer;
}

.svgreturn{
    margin-right: 5px;
}

.edicaoTitulo{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: #666666;
    margin-bottom: 50px;
}

.alterarLogo{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #666666;
}

.fotos{
    width: 35%;
    margin-top: 65px;
}

.fotosFlex{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #666666;
}

.fotoPrincipal{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #666666;
    margin-bottom: 50px;
}

.salvarAlteracoes{
    position: absolute;
    bottom: 118px;
    right: 210px;
    background: #128C7E;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    padding: 16px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.imagemPerfil{
    width: 200px;
    height: 200px;
    display: inline-flex;
    border-radius: 100%;
}

.campo {
    border: 1px solid #128C7E;
    color: #128C7E;
}