.tituloEmpresa{
    font-size: 45px;
    font-weight: bold;
}

.titulosServicos{
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
}

.fieldEdit{
    border: 1px solid #128C7E;
    color: gray;
    border-radius: 5px;
    padding: 15px 15px;  
    margin-top: 18px;
}

.fieldAgendamento{
    border: 1px solid #128C7E;
    color: gray;
    border-radius: 5px;
    padding: 5px 15px;  
    margin-top: 18px;
}

.diasSemana{
    font-weight: bold;
}

.funcionamento{
    margin-top: 10px;
}
.horario{
    margin-left: 25px;
}
.botaoAgendar{
    margin-top: 35px;
    /* background-color: gray;
    color: white; */
    border: none;
    padding: 5px 50px ;
    color: #656;
    border: 1px solid #128C7E;
    float: right;
}
.botaoAgendar:hover{
    background-color: darkgrey;
    color: white;
    border: none;    
}

.gridInfo{
    padding: 0 0 0 15px;
}

.divEsquerda{
    width: 20%;
    text-align: start;
}

.divDireita{
    width: 20%;
    text-align: start;
}

.boxEmpresa{
    display: flex;
}

.boxDataTable{
    border: 1px solid #128C7E;
    padding: 15px 65px;
}